<body>
  {% comment %} This is the Body of the variant selection modal {% endcomment %}
  <div id="swym-custom-collections-modal-background" class="swym-hide-container">
    <div id="swym-custom-collections-modal-parent">
      <div id="swym-collections-title-and-close">
        <p id="swym-custom-modal-title" class="swym-global-font-family"></p>
        <p id="swym-custom-mobile-title" class="swym-global-font-family"></p>
        <div id="swym-custom-modal-close" aria-label="Close modal">&times;</div>
      </div>
      <div id="swym-images-and-components-container">
        <div id="swym-images-container">
          <img src="" width="130" height="180" loading="lazy" id="swym-custom-primary-image" aria-label="Product Main Image">
          <div id="swym-custom-image-blob-container"></div>
        </div>
        <div id="swym-custom-image-wrapper">
          <button class="swym-custom-slide-arrow" id="swym-custom-slide-arrow-prev" aria-label="Previous slide">&#8249;</button>
          <button class="swym-custom-slide-arrow" id="swym-custom-slide-arrow-next" aria-label="Next slide">&#8250;</button>
          <div id="swym-custom-images-caraousel">
            <div id="swym-custom-images-slide-container" aria-label="Image Carousel"></div>
          </div>
        </div>
        <div id="swym-custom-component-container">
          <div id="swym-custom-product-info" class="swym-global-font-family">
            <div id="swym-custom-vendor-title">By: Vendor</div>
            <div id="swym-custom-product-title"></div>
            <div id="swym-custom-variant-title"></div>
            <div id="swym-custom-variant-price"></div>
          </div>
          <div id="swym-custom-variant-selector-parent" class="swym-global-font-family">
            <p id="swym-custom-select-preference-text" aria-label="Select Preferences"></p>
            <div id="swym-custom-variant-selector-container"></div>
          </div>
          <div id="swym-custom-multiple-list-parent-container" class="swym-hide-container">
            <p id="swym-custom-select-wishlists-text"></p>
            <div id="swym-multiple-wishlist-container" class="swym-global-font-family">
              <div id="swym-custom-list-id-container"></div>
              <button id="swym-custom-create-list-button" aria-label="Create New Wishlist Button" class="swym-global-font-family swym-hide-container"></button>
            </div>
          </div>
        </div>
      </div>
      <div id="swym-custom-add-to-wishlist-container" class="swym-global-font-family">
        <button id="swym-custom-add-to-wishlist-button" aria-label="Add to Wishlist Button" class="swym-global-font-family"></button>
      </div>
    </div>
    <div id="swym-custom-backdrop" class="swym-hide-container">
      <div id="swym-custom-create-list-container">
        <div id="swym-create-list-title-wrapper">
          <p id="swym-create-list-title"></p>
          <button id="swym-custom-notconfirm-list-button" aria-label="Close Create Wishlist Modal">&times;</button>
        </div>
        <p id="swym-list-guide-text"></p>
        <div id="swym-create-list-button-wrapper">
          <input id="swym-custom-new-list-name-input" aria-label="Enter New Wishlist Name" placeholder="Enter name" class="swym-global-font-family">
          <button id="swym-custom-confirm-list-button" aria-label="Save New Wishlist Button" class="swym-global-font-family"></button>
        </div>
      </div>
    </div>
  </div>
</body>
